---
    import MainHead from '../components/MainHead.astro';
    import Nav from '../components/Nav.svelte';
    import WorkInProgress from '../layouts/WorkInProgress.svelte';
---

<html>
    <head>
        <MainHead title = "Books" />
    </head>
    <body>
        <Nav />
        <WorkInProgress name="Books" color="orange"/>
    </body>
</html>