---
    import MainHead from '../components/MainHead.astro';
    import Nav from '../components/Nav.svelte';
    import WorkInProgress from '../layouts/WorkInProgress.svelte';
---

<html>
    <head>
        <MainHead title = "Home"  />
    </head>
    <body>
        <Nav />
        <WorkInProgress name="Home" color="aqua"/>
    </body>

</html>